@model DataToDisplay

<h1>Humidité</h1>
<p><img src="ChartWaters.cshtml"/></p>
<h1>Conductivité</h1>
<p><img src="ChartConds.cshtml"/></p>
<h1>Température du sol</h1>
<p><img src="ChartSoilTemps.cshtml"/></p>
